:root {
   --headers-color: #212121;
   --secondary-text-color: #757575;
   --header-link-color: #2196F3;
   --footer-link-color:rgba(255, 255, 255, 0.6);
   --white-simbols-color:#FFFFFF;
   --primery-background-color:#F5F5F5;
   --secondary-background-color:#F5F4FA;
   --footer-background-color:#2F303A;
}
/* Цвет заголовков - основного текста #212121 */
/* Вторичый цвет основного текста #757575 */
/* Цвет ссылок в футере rgba(255, 255, 255, 0.6)*/
/* Цвет голубой ссылки в хедере и кнопки заказать #2196F3 */
/* Цвет белых букв  #FFFFFF*/
/* Первичный цвет фона #F5F5F5 */
/* Вторичный цвет фона #F5F4FA */
/* Цвет подвала #2F303A */
body {
    background-color: var(--primery-background-color);    
    color:var(--secondary-text-color);
    font-family:'roboto', 'serif', 'verdana', 'tahoma', sans-serif;
}
/* Убирает маркер в списках */
.list,
.feature-list
{
    list-style: none;
}
.logo {
    color:#000000;
    }
.logo:hover {
    color:var(--header-link-color);
}

.pre-logo {color:#2196F3;}
/* site-nav */
.site-nav .link {
    color:var(--headers-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--header-link-color);
}
.site-nav .link.current {
    color:var(--header-link-color);
}
.address .phone {
    color:var(--secondary-text-color);
}
.address .link:hover,
.address .link:focus {
    color: var(--header-link-color);
}
.link {
    text-decoration: none;
  }
/* Hero */
.hero-title {
    color: var(--white-simbols-color);
}
/* Section */
.section-title,
.list h3 
{
    color:var(--headers-color);
}
.list h3 {
    color: var(--headers-color);
}
.list p {
    color: var(--secondary-text-color)  
}
/* Стили для index.html */
/* Переваги*/
.feature-list .title {
color:var(--headers-color);
}
/* Button */
.hero button {
    color: var(--white-simbols-color);
    background-color: var(--header-link-color);
}
/*Footer*/
.link.list-adress {
    color:var(--white-simbols-color);
}
.link.list-adress:hover,
.link.list-adress:focus {
    color:var(--header-link-color);
}
.link.list-mail {
    color:var(--footer-link-color);
}
.link.list-mail:hover,
.link.list-mail:focus {
    color:var(--header-link-color);
}
.link.list-phone {
    color:var(--footer-link-color);
}
.link.list-phone:hover,
.link.list-phone:focus {
    color:var(--header-link-color);
}
/* Стили для Portfolio */
.filter button.current
{
    color: var(--white-simbols-color);
    background-color: var(--header-link-color);    
}
.filter button:hover,
.filter button:focus
{
    color: var(--white-simbols-color);
    background-color: var(--header-link-color);    
}
.filter button {
    color:var(--headers-color);
}
